.outerContainer {
  background-color: slategray;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 80%;
}

.rightleftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.input {
  height: 15%;
  width: 100%;
}

  